In [10]:
import os, json
import pandas as pd

path_to_json = '/home/vincenzo/research/eni/paper/twittergeneralinterface_bkp-2020.01.27/'
json_files = [pos_json for pos_json in os.listdir(path_to_json) if pos_json.startswith('friends.')]
#json_files = [pos_json for pos_json in os.listdir(path_to_json) if pos_json.startswith('friends.2020-01-28_15-25')]
print("Found",len(json_files),"files")

# here I define my pandas Dataframe with the columns I want to get from the json
friends_df = pd.DataFrame(columns=['user_screen_name', 'screen_name', 'location', 'friends_count', 'listed_count', 'followers_count', 'created_at', 'lang', 'statuses_count', 'description'])

# we need both the json and an index number so use enumerate()
cnt=0
for index, js in enumerate(json_files):
    with open(os.path.join(path_to_json, js)) as json_file:
        print(js, end=" ")
        cnt_line=0
        for line in json_file:
            json_text = json.loads(line)

            # here you need to know the layout of your json and each json has to have
            # the same structure (obviously not the structure I have here)
            user_screen_name = json_text['user_screen_name']
            screen_name = json_text['screen_name']
            location = json_text['location']
            friends_count = json_text['friends_count']
            listed_count = json_text['listed_count']
            followers_count = json_text['followers_count']
            created_at = json_text['created_at']
            lang = json_text['lang']
            statuses_count = json_text['statuses_count']
            description = json_text['description']



            # here I push a list of data into a pandas DataFrame at row given by 'index'
            friends_df.loc[cnt] = [user_screen_name,
                                     screen_name,
                                     location,
                                     friends_count,
                                     listed_count,
                                     followers_count,
                                     created_at,
                                     lang,
                                     statuses_count,
                                     description]

            cnt+=1
            
            cnt_line+=1
        print("- Loaded",cnt_line,"users")

# now that we have the pertinent json data in our DataFrame let's look at it
#print(friends_df)

Found 83 files
friends.2020-01-28_15-25 - Loaded 400 users
friends.2020-01-28_15-42 - Loaded 2600 users
friends.2020-01-28_16-42 - Loaded 282 users
friends.2020-01-28_15-38 - Loaded 1800 users
friends.2020-01-28_15-34 - Loaded 1000 users
friends.2020-01-28_15-44 - Loaded 3000 users
friends.2020-01-28_15-51 - Loaded 200 users
friends.2020-01-28_15-17 - Loaded 200 users
friends.2020-01-28_16-14 - Loaded 4600 users
friends.2020-01-28_16-19 - Loaded 5600 users
friends.2020-01-28_15-43 - Loaded 2800 users
friends.2020-01-28_16-39 - Loaded 400 users
friends.2020-01-28_16-31 - Loaded 1400 users
friends.2020-01-28_15-59 - Loaded 1800 users
friends.2020-01-28_15-35 - Loaded 1200 users
friends.2020-01-28_16-12 - Loaded 4200 users
friends.2020-01-28_16-13 - Loaded 4400 users
friends.2020-01-28_15-20 - Loaded 147 users
friends.2020-01-28_16-15 - Loaded 4800 users
friends.2020-01-28_15-39 - Loaded 2000 users
friends.2020-01-28_16-03 - Loaded 2400 users
friends.2020-01-28_15-55 - Loaded 1000 users
friends.2020-01-28_15-56 - Loaded 1200 users
friends.2020-01-28_15-58 - Loaded 1600 users
friends.2020-01-28_16-02 - Loaded 2200 users
friends.2020-01-28_15-18 - Loaded 400 users
friends.2020-01-28_16-06 - Loaded 3000 users
friends.2020-01-28_15-40 - Loaded 2200 users
friends.2020-01-28_15-19 - Loaded 600 users
friends.2020-01-28_15-54 - Loaded 800 users
friends.2020-01-28_15-41 - Loaded 2400 users
friends.2020-01-28_15-31 - Loaded 400 users
friends.2020-01-28_16-35 - Loaded 400 users
friends.2020-01-28_16-28 - Loaded 800 users
friends.2020-01-28_15-48 - Loaded 400 users
friends.2020-01-28_15-22 - Loaded 400 users
friends.2020-01-28_16-29 - Loaded 1000 users
friends.2020-01-28_16-37 - Loaded 626 users
friends.2020-01-28_16-08 - Loaded 3400 users
friends.2020-01-28_16-17 - Loaded 5200 users
friends.2020-01-28_16-05 - Loaded 2800 users
friends.2020-01-28_16-20 - Loaded 5800 users
friends.2020-01-28_16-26 - Loaded 600 users
friends.2020-01-28_15-45 - Loaded 3200 users
friends.2020-01-28_15-47 - Loaded 200 users
friends.2020-01-28_16-21 - Loaded 5896 users
friends.2020-01-28_15-32 - Loaded 600 users
friends.2020-01-28_15-52 - Loaded 400 users
friends.2020-01-28_16-24 - Loaded 200 users
friends.2020-01-28_16-41 - Loaded 200 users
friends.2020-01-28_16-10 - Loaded 3800 users
friends.2020-01-28_15-46 - Loaded 3288 users
friends.2020-01-28_15-37 - Loaded 1600 users
friends.2020-01-28_15-36 - Loaded 1400 users
friends.2020-01-28_16-32 - Loaded 1600 users
friends.2020-01-28_16-07 - Loaded 3200 users
friends.2020-01-28_15-21 - Loaded 200 users
friends.2020-01-28_15-28 - Loaded 49 users
friends.2020-01-28_16-34 - Loaded 200 users
friends.2020-01-28_15-29 - Loaded 200 users
friends.2020-01-28_16-38 - Loaded 200 users
friends.2020-01-28_15-49 - Loaded 424 users
friends.2020-01-28_16-18 - Loaded 5400 users
friends.2020-01-28_16-36 - Loaded 600 users
friends.2020-01-28_16-04 - Loaded 2600 users
friends.2020-01-28_16-01 - Loaded 2000 users
friends.2020-01-28_16-40 - Loaded 463 users
friends.2020-01-28_16-33 - Loaded 1602 users
friends.2020-01-28_16-30 - Loaded 1200 users
friends.2020-01-28_16-09 - Loaded 3600 users
friends.2020-01-28_16-16 - Loaded 5000 users
friends.2020-01-28_16-25 - Loaded 400 users
friends.2020-01-28_16-22 - Loaded 200 users
friends.2020-01-28_15-23 - Loaded 508 users
friends.2020-01-28_15-53 - Loaded 600 users
friends.2020-01-28_15-26 - Loaded 600 users
friends.2020-01-28_16-11 - Loaded 4000 users
friends.2020-01-28_15-24 - Loaded 200 users
friends.2020-01-28_15-57 - Loaded 1400 users
friends.2020-01-28_15-33 - Loaded 800 users
friends.2020-01-28_15-50 - Loaded 141 users
friends.2020-01-28_15-27 - Loaded 606 users
friends.2020-01-28_16-23 - Loaded 309 users

In [11]:
friends_df

,user_screen_name,screen_name,location,friends_count,listed_count,followers_count,created_at,lang,statuses_count,description
0,GruppoHera,andreacreativo,"Roma, Lazio",4800,1280,9481,Tue Jun 01 10:43:33 +0000 2010,None,42179,"Scrivo, leggo e twitto di #StartUp #Industria4..."
1,GruppoHera,reportingMerola,,3309,119,1628,Sat Nov 23 14:20:48 +0000 2013,None,1919,"Journalist, Communication manager @WSENSE_IoUT..."
2,GruppoHera,UN_Water,,2557,1321,74188,Tue Nov 16 13:57:19 +0000 2010,None,20828,United Nations Water: Coordinates the UN’s wor...
3,GruppoHera,la_Biennale,"Venice, Italy",5348,3220,707046,Sat Mar 13 17:52:46 +0000 2010,None,23507,Official Twitter page of La Biennale di Venezi...
4,GruppoHera,VitodeCeglia,,59,5,91,Fri Dec 16 14:56:06 +0000 2011,None,91,
...,...,...,...,...,...,...,...,...,...,...
141536,falckrenewables,sole24ore,,665,5158,1400175,Thu Nov 24 14:21:17 +0000 2011,None,131633,Account ufficiale del Sole 24 ORE
141537,falckrenewables,24energia,Milan,68,204,4688,Thu Sep 17 15:26:30 +0000 2009,None,431,"Luca Salvioli. Journalist, Il Sole 24 Ore. Tut..."
141538,falckrenewables,FinancialTimes,London / New York / Hong Kong,829,40740,6421988,Mon Apr 16 16:54:19 +0000 2007,None,269794,"The best of FT journalism, including breaking ..."
141539,falckrenewables,Borsa_italiana,Italia,3,100,4309,Wed Feb 16 08:14:31 +0000 2011,None,8825,Brevi notizie su piazzaffari dal sito http://t...
141540,falckrenewables,MilanoFinanza,"Milan, Italy",8,1392,100896,Thu Apr 09 11:18:49 +0000 2009,None,94824,"Finanza, Borsa, Economia, Azioni, Quotazioni, ..."

In [30]:
unique_friends_df = friends_df.drop_duplicates()
unique_friends_df

,user_screen_name,screen_name,location,friends_count,listed_count,followers_count,created_at,lang,statuses_count,description
0,GruppoHera,andreacreativo,"Roma, Lazio",4800,1280,9481,Tue Jun 01 10:43:33 +0000 2010,None,42179,"Scrivo, leggo e twitto di #StartUp #Industria4..."
1,GruppoHera,reportingMerola,,3309,119,1628,Sat Nov 23 14:20:48 +0000 2013,None,1919,"Journalist, Communication manager @WSENSE_IoUT..."
2,GruppoHera,UN_Water,,2557,1321,74188,Tue Nov 16 13:57:19 +0000 2010,None,20828,United Nations Water: Coordinates the UN’s wor...
3,GruppoHera,la_Biennale,"Venice, Italy",5348,3220,707046,Sat Mar 13 17:52:46 +0000 2010,None,23507,Official Twitter page of La Biennale di Venezi...
4,GruppoHera,VitodeCeglia,,59,5,91,Fri Dec 16 14:56:06 +0000 2011,None,91,
...,...,...,...,...,...,...,...,...,...,...
141536,falckrenewables,sole24ore,,665,5158,1400175,Thu Nov 24 14:21:17 +0000 2011,None,131633,Account ufficiale del Sole 24 ORE
141537,falckrenewables,24energia,Milan,68,204,4688,Thu Sep 17 15:26:30 +0000 2009,None,431,"Luca Salvioli. Journalist, Il Sole 24 Ore. Tut..."
141538,falckrenewables,FinancialTimes,London / New York / Hong Kong,829,40740,6421988,Mon Apr 16 16:54:19 +0000 2007,None,269794,"The best of FT journalism, including breaking ..."
141539,falckrenewables,Borsa_italiana,Italia,3,100,4309,Wed Feb 16 08:14:31 +0000 2011,None,8825,Brevi notizie su piazzaffari dal sito http://t...
141540,falckrenewables,MilanoFinanza,"Milan, Italy",8,1392,100896,Thu Apr 09 11:18:49 +0000 2009,None,94824,"Finanza, Borsa, Economia, Azioni, Quotazioni, ..."

In [31]:
# VALUTARE LA POSSIBILITA' DI USARE user_screen_name E screen_name COME INDICE DELLA TABELLA
# unique_friends_new_index_df = unique_friends_df.set_index(['user_screen_name', 'screen_name'])
# unique_friends_new_index_df

In [35]:
unique_friends_df.groupby("user_screen_name").agg('count')['friends_count']
# EXPECTED VALUES FROM OFFICIAL TWITTER ACCOUNTS:
# 
# ERGnow              3288
# EdisonNews          1602
# EnelGroupIT         5896                                                                                                        
# GruppoHera          606
# LandirenzoSpA       147
# TernaSpA            686
# cirgroup            424
# eni                 626
# falckrenewables     309
# gruppo_a2a          141
# gruppoiren          508
# innovatec_spa       282
# italgas             49
# snam                463

user_screen_name
ERGnow             3288
EdisonNews         1602
EnelGroupIT        5896
GruppoHera          606
LandirenzoSpA       147
TernaSpA            600
cirgroup            424
eni                 625
falckrenewables     309
gruppo_a2a          141
gruppoiren          508
innovatec_spa       282
italgas              49
snam                463
Name: friends_count, dtype: int64

In [36]:
unique_friends_df.to_csv("friends_1st_level.csv")

In [39]:
unique_friends_df.to_json("friends_1st_level.json", orient='records')

In [43]:
# NUMERO COMPLESSIVO DI FRIENDS UNICI DI PRIMO LIVELLO
unique_friends_df['screen_name'].unique().shape

(12641,)